<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic Square | Магический квадрат</title>
</head>
<body background="{% static 'images/background.jpg' %}">
    <a href="/game"><h1 align="center" style="color: red;">Играть</h1></a>
    <p style="color: chartreuse;" align="center">Данный проект является демо приложением</p>
</body>
</html>